body {
  background-image: url(sky1.jpg);
}

h1 {
  margin-top: 18px;
  margin-bottom: 0px;
  font-family: "Staatliches", cursive;
}
.current.place {
  position: absolute;
  top: 20px;
}
.main-icon {
  position: relative;
  margin-top: -40px;
  margin-left: -20px;
}
p.sky::first-letter {
  text-transform: capitalize;
}
p.future-description::first-letter {
  text-transform: capitalize;
}
.future-description {
  font-size: 0.875em;
}
.current-location {
  background: linear-gradient(
    109.6deg,
    rgb(0, 37, 84) 11.2%,
    rgba(0, 37, 84, 0.32) 100.2%
  );
  color: lightblue;
  border-radius: 20px 250px 20px 270px;
  box-shadow: 5px 6px 7px 8px lightblue;
  font-family: "Staatliches", cursive;
  padding: 3px 10px;
}
.current-location:hover {
  border: 2px;
  background: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  color: grey;
  border: 1 px wheat;
  opacity: 0.7;
}
.temp-now {
  position: relative;
  left: 75px;
  top: -65px;
  font-family: "Staatliches", cursive;
  font-size: 30px;
  font-weight: bold;
}

.current.temperature {
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 0;
  font-family: "Staatliches", cursive;
}

.celcius-farenheit {
  margin-bottom: 0px;
}

.current.data {
  position: absolute;
  right: 0;
  top: 20px;
  width: 180px;
  font-weight: 500;
}

.keyweather {
  position: absolute;
  right: 55px;
  top: 135px;
  font-weight: 500;
}

.rainbowcolor-1 {
  background-color: red;
  color: red;
  text-align: center;
  font-size: 3px;
  margin-top: 5px;
  border-radius: 50px;
}
.rainbowcolor-2 {
  background-color: orange;
  color: orange;
  font-size: 3px;
  border-radius: 50px;
}
.rainbowcolor-3 {
  background-color: yellow;
  color: yellow;
  font-size: 3px;
  border-radius: 50px;
}
.rainbowcolor-4 {
  background-color: green;
  color: green;
  font-size: 3px;
  border-radius: 50px;
}
.rainbowcolor-5 {
  background-color: lightseagreen;
  color: lightseagreen;
  font-size: 3px;
  border-radius: 50px;
}
.rainbowcolor-6 {
  background-color: blue;
  color: blue;
  font-size: 3px;
  border-radius: 50px;
}
.rainbowcolor-7 {
  background-color: blueviolet;
  color: blueviolet;
  font-size: 3px;
  border-radius: 50px;
}
.day {
  display: block;
  margin: 0 auto;
  background-color: lightblue;
  width: auto;
  text-align: center;
  border-radius: 50px;
  box-shadow: 4px 5px 6px 1px lightcyan;
  padding-bottom: 15px;
  padding-top: 10px;
}
.day:hover {
  border: 2px solid wheat;
}

.future.weather {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.input.form {
  margin-top: 205px;
  margin-bottom: 15px;
}
footer {
  text-align: center;
  margin-top: 30px;
  bottom: auto;
}
